body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .big-card {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
   
  
  p {
    color: #666;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 6px 20px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .input_box{
    padding: 5px ;
    width: 316px;
    
    
  }
  .myInput{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 3px 6px;
    outline: none;
  }
  .images{
    position: absolute;
    padding:6px 60px;
    cursor: pointer;
  }
 .secondImg{
  position: absolute;
    padding: 6px 23px;
    cursor: pointer;
 }
































/* .card p {
    font-size: 14px;
    color: #555;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
#save{
    display: none;
} */
/* h1{
    color: red;
}
body{
    background-color: #b5daf3;
}
 
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db; 
    color: #fff; 
}

 
button:hover {
    background-color: #2980b9; 
}
 
.card {
    width: 320px;
    display: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;  
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    background-color: #fff; 
}